h1 {
  padding: 1rem 2rem;
  border-left: 10px solid 	#855a3e;
  background: white;
	color: black;
}



body {
background-color: #fef7c9;
font-family:"メイリオ","ヒラギノ角ゴ Pro W3";
}
p3 {
font-size: 20px;
color: black;
background-color: white;
padding:30px;
border-top: solid 3px #edcf89;
border-bottom: solid 3px #edcf89;
}

p1 {
font-size: 17px;
display: block;
}

p3 {
  font-size: 17px;
  display: block;
  background-color: white;
}

button {
  width:100px;
  font-size:17px;
  color:white;
	border:1px white;
  text-align:center;
  padding:10px;
	margin:50px 20px;
  background: #bdd982;;
  border-radius:10px;
  box-shadow:3px 3px #bfbbba;
}



img{
  width: 200px;
  height: 200px;
  padding-right: 10%;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.balloon {
  position: relative;
  background-color: white;
  padding: 30px;
  color: #333;
  border-radius: 10px;
  margin: auto 0;
  }
  
  .balloon::before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  border-top: 20px solid white;
  top: 100%;
  left: 6%;
  }
  
  .balloon p {
  margin: 10px;
  padding: 0;
  }